<!--  Role List view starts here -->
<div class="container mat-elevation-z8 panel panel-inverse mb-0" style="position: relative">
  <app-panel-user i18n-name="Panel header|List of Roles@@listOfRoles" name="List of Roles" #panelHeader
    (refreshTableList)="refreshTableListFunction();panelHeader.setTableDasourceAsDefault(this.dataSource)" (scrollBarDirective)="onPaginateViewScrollToTop()">


    <!-- Download files as Excel, PDF, CSV -->
    <span downloadButton class="ml-2 d-inline-block" *ngIf="dataSource && dataSource.data.length">
      <app-export-files-to (exportedTo)="downloadFile($event)"></app-export-files-to>
    </span>

    <!-- Input field for search -->
    <input searchfield style="display: none;" id="filter" class="form-control m-input ml-2"
      (keyup)="panelHeader.applyFilter($event.target.value, dataSource)"
      i18n-placeholder="Search|Search placeholder@@search" matInput placeholder="Search.." />

    <!-- Search button -->
    <a searchButton href="javascript:;" i18n-matTooltip="Search button tooltip|Click to Search@@clickToSearch"
      matTooltip="Click to Search" class="btn btn-xs btn-icon btn-circle btn-default"
      (click)="panelHeader.searchButton(this.dataSource)">
      <i class="fa fa-search"></i>
    </a>
    <!-- Add New button -->
    <a addNewButton i18n-matTooltip="AddNew button tooltip|Click to Add New@@addNew" [routerLink]="['../manage-role/roleForm']"
      (click)="addRoleFormView($event)" matTooltip="Click to Add New"
      class="btn btn-xs btn-icon btn-circle btn-warning">
      <i class="fa fa-plus"></i>
    </a>
    <div class="position-relative">
      <div class="ps position-relative"  [ngClass]="{'firstLeveltabTable':this.dataSource.filteredData.length!=0}" appScrollbarDirective
        *ngIf="dataSource && dataSource.data.length">
        <ng-container *ngTemplateOutlet="matTable"></ng-container>
      </div>

      <div class="table-responsive" *ngIf="!dataSource || !dataSource.data.length">
        <ng-container *ngTemplateOutlet="matTable"></ng-container>
      </div>
      <!-- Loader image  -->
      <div *ngIf="showLoaderImage" class="col-lg-12" style="margin-left:0%; margin-top:0%;margin-bottom:0%;"
        align="center">
        <img src="/assets/img/dashboard/ProgressLoader.gif" height="auto" width="50%" alt="Loading........">
      </div>
      <h3 i18n="No records found text|No records found@@noRecordsFound"
        *ngIf="((dataSource && !dataSource.data.length) || dataSource.filteredData.length==0 ) && !showLoaderImage" class="text-center noRecordsFound">
        No records found!
      </h3>
      <app-mat-table-paginator [dataSource]="this.dataSource" #myPaginatorChildComponent (paginator)="matTablePaginator($event)"
      (scrollBarDirective)="onPaginateViewScrollToTop()"></app-mat-table-paginator>
      <!-- <mat-paginator [hidden]="dataSource && !dataSource.data.length" #myPaginator
        [length]="dataSource && dataSource.data.length" [pageSize]="pageSize" [pageSizeOptions]="[100, 500, 1000, 5000]"
        showFirstLastButtons>
      </mat-paginator> -->
    </div>

    <ng-template #matTable>
      <table mat-table [dataSource]="dataSource" class="table table-striped table-bordered" matSort>
        <!-- <ng-container matColumnDef="id">
          <th *matHeaderCellDef style="display: none">Id</th>
          <td mat-cell *matCellDef="let element" style="display: none"> {{element.id}} </td>
        </ng-container> -->
        <ng-container matColumnDef="id">
          <th i18n="Table id|S.No.@@sNo" mat-header-cell *matHeaderCellDef>S.No.</th>
          <td mat-cell *matCellDef="let element; let i = index;">
            {{ (i+1) + (myPaginator.pageIndex * myPaginator.pageSize) }}</td>

        </ng-container>
        <ng-container matColumnDef="name">
          <th i18n="Table name|Role Name@@roleName" mat-header-cell *matHeaderCellDef mat-sort-header>Role Name</th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th i18n="Table description|Description@@description" mat-header-cell *matHeaderCellDef mat-sort-header>
            Description </th>
          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th i18n="Table action|Action@@Action" mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element">

            <a [routerLink]="['../manage-role/roleView']" class="" (click)="clickToView(element)">
              <i class="fas fa-md fa-fw m-r-10 fa-eye" alt="view"
                i18n-matTooltip="View button|Click to View tooltip@@clickToView" matTooltip="Click to View"></i>
            </a>

            <a [routerLink]="['../manage-role/roleForm']" class="" (click)="updateRoleFormView(element)">
              <i class="fas fa-md fa-fw m-r-10 fa-edit" alt="edit"
                i18n-matTooltip="Edit button|Click to Edit tooltip@@clickToEdit" matTooltip="Click to Edit"></i>
            </a>

            <a (click)="navigateToRoleMenu(element);">
              <i class="fas fa-md fa-fw m-r-10 fa-share-square" alt="Assign menus"
                i18n-matTooltip="Assign Menus button|Click to Assign Menus tooltip@@clickToAssignMenus"
                matTooltip="Click to Assign Menus"></i>
            </a>

            <a class="" (click)="deleteRole(element.id)">
              <i class="fas fa-md fa-fw m-r-10 fa-trash-alt" alt="delete"
                i18n-matTooltip="Delete button|Click to Delete tooltip@@clickToDelete" matTooltip="Click to Delete"></i>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </ng-template>
  </app-panel-user>


</div>
<!--  Role List view ends here -->

<!-- Global modal notification component selector  for deletion and after deletetion success, success with failed-->
<app-modal-notification (modelNotificationDanger)="confirmDelete();"
  (modelNotificationSuccess)="refreshTableListFunction()"></app-modal-notification>