<!-- Click to view Account roles starts here -->
<div class="row">
  <div class="col-md-12">
    <h1 i18n="Page header|View Account Role@@viewAccountRole" class="page-header">
      View Account Role
    </h1>
  </div>
</div>
<div class="row margin_0px rowBox margin_top_5px">
  <div class="col-md-12 padding_0px">
    <div class="padding_Form">
      <div class="formReadMode">
        <div class="form-group-custom1">
          <legend i18n="Account Role Details header|Account Role Details@@accountRoleDetails" class="m-b-15">Account Role Details</legend>
          <app-account-role-read-view></app-account-role-read-view>
        </div>
        <div class="path finalLine"></div>
        <div class="row" style="    text-align: right;padding: 23px 0;">
          <div class="col-md-12">
            <button type="button" class="btn btn-default text-center backActionButton" (click)="backButton()" i18n="Back button|Back@@back"> Back
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Click to view Account roles ends here -->
