<div>
	<div class="path"></div>
	<legend class="m-b-15 " i18n="@@AddressDetails">Address Details</legend>
	<div [formGroup]="addressForm" id="addressDetail">
		<div class="form-group form-group-custom1">
			<div class="formBodyCustom1">
				<div class="form-group m-form__group row">
					<div class="col-lg-6">
						<label i18n="@@Address">Address</label>
						<div>
							<input type="text" id="streetAddress" formControlName="addressLine1"
								class="form-control m-input" placeholder="Enter Address Line 1"
								i18n-placeholder="@@AddresslineOne.placeholder">
						</div>
					</div>
					<div class="col-lg-6">
						<label i18n="@@Address" class="visiblity-hidden">Address</label>
						<input type="text" id="streetAddress1" formControlName="addressLine2"
							class="form-control m-input" placeholder="Enter Address Line 2"
							i18n-placeholder="@@AddresslineTwo.placeholder">
					</div>
				</div>
				<div class="m-form__group row">
					<div class="col-lg-3">
						<label class="" i18n="@@ZipCode">Zip Code</label>
						<div class="form-group">
							<input type="text" id="zipcode" formControlName="zipCode" class="form-control m-input"
								placeholder="Enter Zip Code" i18n-placeholder="@@ZipCode.placeholder">
						</div>
					</div>
					<div class="col-lg-3">
						<label class="" i18n="@@City/Town">City/Town</label>
						<div class="form-group">
							<input type="text" id="cityName" formControlName="city" class="form-control m-input"
								placeholder="Enter City/Town" i18n-placeholder="@@CityOrTown.placeholder">
						</div>

					</div>
					<div class="col-lg-3">
						<label class="" i18n="@@Country">Country</label>
						<div class="form-group">
							<ejs-dropdownlist id='ddlelement' #ddlelement class="form-control p-0" [value]='countryId' name="countryId" formControlName="countryId"
						 [dataSource]='countryList' [placeholder]='countryWaterMark' [fields]='countryFields'
                        [popupHeight]='height' [sortOrder]="sort" (filtering)='onFiltering($event)'
                        [filterBarPlaceholder]="filterPlaceholder" [allowFiltering]='true'
                        (change)='counrtyOnChange($event)' [locale]='locale'></ejs-dropdownlist>
							<!-- <select i18n="@@Select" id="tenantCountryId" formControlName="countryId"
								(change)="getStateByCountryId($event.target.value, true)" class="form-control m-input">
								<option [ngValue]='null'>--Select--</option>
								<option *ngFor="let country of countryList" [value]="country.id">
									{{country.name}}
								</option>
							</select> -->
						</div>
					</div>
					<div class="col-lg-3">
						<label class="" i18n="@@State">State</label>
						<div class="form-group">
							<ejs-dropdownlist id='ddlelement' #ddlelement class="form-control p-0" [value]='stateId' name="stateId" formControlName="stateId"
							[dataSource]='stateList' [placeholder]='stateWaterMark' [fields]='stateFields'
						   [popupHeight]='height' [sortOrder]="sort" (filtering)='onFilteringState($event)'
						   [filterBarPlaceholder]="filterPlaceholder" [allowFiltering]='true'
						   (change)='stateOnChange($event)' [locale]='locale'></ejs-dropdownlist>
							<!-- <select i18n="@@Select" id="tenantStateId" formControlName="stateId"
								class="form-control m-input" (change)="getStateName($event)">
								<option [ngValue]='null'>--Select--</option>
								<option *ngFor="let state of stateList" [value]="state.id">{{state.name}}</option>
							</select>
							<span id="tenantStateIdValMsg" class="errorMsg"></span> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>