<div class="row">
    <div class="col-md-12">
      <h1 i18n="Header page|Assign Applications@@assignApplications" class="page-header">
        Assign Applications
      </h1>
    </div>
</div>
<div class="panel panel-inverse" style="position: relative">
  <app-panel-user i18n-name="Panel header|Assign Applications@@assignApplications" name="Assign Applications:{{userDetail ? userDetail.firstName :''}} {{tenantName}}"  (refreshTableList)="refreshTableListFunction()">
    <div class="row margin_0px rowBox">
        <div class="col-md-12 padding_0px">
          <div class="padding_Form">
            <div class="form-group-custom1">
              <div class="row form-group">
                <div class="col-md-12">
                  <dual-list [sort]="keepSorted" [source]="source" [key]="key" [display]="display" [filter]="filter"
                    [destination]="confirmed"  height="265px" [format]="format" [disabled]="disabled" (destinationChange)="getApplicationMovedByUser($event)">
                  </dual-list>
                  <div class="tab-content">
                  </div>
                </div>
              </div>
              <div class="path finalLine"></div>

              <!-- Cancel button -->
              <div class="row" style="text-align: right;padding: 23px 0;">
                <div class="col-md-12">
                  <a>
                    <button type="button" class="btn btn-default text-center cancelActionButton" i18n="Cancel button|Cancel@@cancel" (click)="CancelApplication()">
                      Cancel
                    </button>
                  </a>
                  &nbsp;
                   <!-- Reset button -->
                  <button type="button" class="btn btn-secondary text-center resetActionButton" (click)="resetApplicationForm()" i18n="Reset button|Reset@@reset"
                  [disabled]='!applicationMovedByUser'>
                  Reset
                </button>
                  &nbsp;
                  <!-- Save button -->
                  <span>
                    <button i18n="Save button|Save@@save" class="btn btn-primary text-center saveActionButton" type="submit" (click)="SaveTenantApplicationAssignToUsers()" [disabled]='!applicationMovedByUser'>
                      Save</button>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </app-panel-user>
    </div>

    <!-- Application assign to the User ends here -->


<!-- Loader image  -->
<div *ngIf="showLoaderImage" class="col-lg-12 loaderImageStyle" style="margin-left:0%; margin-top:0%;margin-bottom:0%;" align="center">
  <img src="/assets/img/dashboard/ProgressLoader.gif" height="auto" width="50%" alt="Loading........">
</div>

<!-- Global modal notification component selector for cancel and final save form-->
<app-modal-notification (modelNotificationSuccess)="redirectTo();" (modelNotificationWarning)="alertRedirection()"></app-modal-notification>


