<!-- Click to view Tenant roles starts here -->
<div class="row">
  <div class="col-md-12">
    <h1 i18n="Page header| View Tenant Role@@viewTenantRole" class="page-header">
      View Tenant Role
    </h1>
  </div>
</div>
<div class="row margin_0px rowBox margin_top_5px">
  <div class="col-md-12 padding_0px">
    <div class="padding_Form">
      <div class="formReadMode">
        <div class="form-group-custom1">
          <legend i18n="Tenant Role Details header|Tenant Role Details@@tenantRoleDetails" class="m-b-15">Tenant Role Details</legend>
         <app-tenant-read-view></app-tenant-read-view>
        </div>
        <div class="path finalLine"></div>
        <div class="row" style="    text-align: right;padding: 23px 0;">
          <div class="col-md-12">
            <button type="button" class="btn btn-default text-center backActionButton" (click)="backButton()" i18n="Back button|Back@@back"> Back
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Click to view Tenant roles ends here -->
