<div class="form-row">
    <a (click)="backButton()" class="edit_section">
        <img src="/assets/img/action/edit.png" alt="Edit Role Details"
        i18n-matTooltip="Image tooltip|Click to Edit Role Details@@clickToEditRoleDetails" matTooltip="Click to Edit Role Details">
      </a>
  <div class="form-group col-sm-6 col-md-4">
    <label i18n="Name|Name@@name" class="">Name</label>
    <p>
      {{role.name | hyphen}}
    </p>
  </div>
  <div class="form-group col-sm-6 col-md-4">
    <label i18n="Description|Description@@description" class="">Description</label>
    <p>
      {{role.description | hyphen}}
    </p>
  </div>
</div>