<!-- begin login -->
<div>
  <div class="login rowBox">
    <!-- begin login-content -->
    <div class="login-content rowBox">
      <div class="headerListBand changePassword">
        <span i18n="Header page|Change Password@@changePassword"> Change Password</span>
      </div>
      <!--  <h5 class="text-center m-t-0 m-b-20">Great to have you back!</h5> -->
      <form [formGroup]="resetPasswordForm" (ngSubmit)="resetUserPassword()">
        <div class="form-group" [ngClass]="{'has-error': ((resetPasswordForm.get('currentPassword').touched ||
            resetPasswordForm.get('currentPassword').dirty) &&
            resetPasswordForm.get('currentPassword').errors)}">
          <input type="password" id="currentPassword" formControlName="currentPassword" class="form-control"
            i18n-placeholder="Old Password placeholder|Old Password@@oldPassword" placeholder="Old Password" maxlength="12"
            (focusout)="focusOutFunction()">
          <span class="help-block" *ngIf="((resetPasswordForm.get('currentPassword').touched ||
                  resetPasswordForm.get('currentPassword').dirty) &&
                  resetPasswordForm.get('currentPassword').errors)">
            <span i18n="Message|Old Password does not match@@oldPassword.message1" *ngIf="resetPasswordForm.get('currentPassword').errors.required">
              Please provide Old Password.
            </span>
          </span>
        </div>
        <div class="form-group" [ngClass]="{'has-error': ((resetPasswordForm.get('password').touched ||
              resetPasswordForm.get('password').dirty) &&
              resetPasswordForm.get('password').errors)}">
          <input type="password" id="newPassword" formControlName="password" class="form-control"
            i18n-placeholder="New Password placeholder|New Password@@newPassword" placeholder="New Password" maxlength="20"
            (keyup)="passwordMatch($event)">
          <span class="help-block" *ngIf="((resetPasswordForm.get('password').touched ||
                  resetPasswordForm.get('password').dirty) &&
                  resetPasswordForm.get('password').errors)">
            <span i18n="Message|New Password is required@@newPassword.message1" *ngIf="resetPasswordForm.get('password').errors.required">
              New Password is required.
            </span>
            <span i18n="Message|Old Password and New Password should not be same@@newPassword.message2" *ngIf="resetPasswordForm.get('password').errors.forbiddenName">
              Old Password and New Password should not be same.
            </span>
            <span i18n="Message|Password should be minimum 8 and maximum 20 characters@@newPassword.message3 " *ngIf="resetPasswordForm.get('password').errors.pattern">
              Password should be minimum 8 and maximum 20 characters, at least one uppercase,lowercase,special character
              and number.
            </span>
          </span>
        </div>
        <div class="form-group" [ngClass]="{'has-error': ((resetPasswordForm.get('confirmPassword').touched ||
            resetPasswordForm.get('confirmPassword').dirty) &&
            resetPasswordForm.get('confirmPassword').errors)}">
          <input type="password" id="confirmPassword" class="form-control" formControlName="confirmPassword"
            i18n-placeholder="Confirm New Password placeholder|Confirm New Password@@confirmNewPassword" placeholder="Confirm New Password" maxlength="20">
          <span class="help-block" *ngIf="((resetPasswordForm.get('confirmPassword').touched ||
                  resetPasswordForm.get('confirmPassword').dirty) &&
                  resetPasswordForm.get('confirmPassword').errors)">
            <span i18n="Message|Confirm Password is required@@confirmNewPassword.message1" *ngIf="resetPasswordForm.get('confirmPassword').errors.required">
              Confirm Password is required.
            </span>
            <span i18n="Message|Please provide New Password and Confirm Password same@@confirmNewPassword.message2" *ngIf="resetPasswordForm.get('confirmPassword').errors.confirmedValidator">
              Please provide New Password and Confirm New Password same.
            </span>
          </span>
        </div>
        <div class="row text-right form-group">
          <div class="col-md-12">
            <a (click)="redirectTo()">
              <button type="button" id="cancelAccount" class="btn btn-default text-center cancelActionButton" i18n="Cancel button|Cancel@@cancel"> Cancel
              </button>
            </a>
            &nbsp;
            <button type="button" class="btn btn-secondary text-center resetActionButton"
              [disabled]="!resetPasswordForm.dirty && resetPasswordForm.pristine" (click)="resetPassworForm()"
              i18n="Reset button|Reset@@reset"> Reset
            </button>
            &nbsp;
            <span i18n-matTooltip="Tooltip validation|Fill the mandatory fields@@fillTheMandatoryFields" matTooltip="Fill the mandatory fields"
              [matTooltipDisabled]="resetPasswordForm.valid">
              <a>
                <button class="btn btn-primary text-center saveActionButton" type="submit" [disabled]="!resetPasswordForm.valid"
                  i18n="Save button|Save@@Save">
                  Save</button>
              </a>
            </span>
          </div>
        </div>
        <div class="text-left" style="font-size:10px;" i18n="Note|Note@@note">
          <b>Note:</b>
          <ul class="mb-0">
            <b>
              <li>Password should be minimum 8 and maximum 20 characters, at least one uppercase,lowercase,special
                character and number is mandatory</li>
            </b>
            <b>
              <li>Password should not contain user name</li>
            </b>
          </ul>
        </div>
      </form>
    </div>
    <!-- end login-content -->
  </div>
</div>

<!-- end login -->
<app-modal-notification (modelNotificationSuccess)="gotoWelcomPage()"
  (modelNotificationWarning)="resetChangePasswordForm()"></app-modal-notification>